body {
    background: #e9a33a url(https://wallpaperaccess.com/full/1155097.png) fixed; 
    background-size: 1530px auto;
    color: #381919;
     font-family: Arial Black;
}
    h1, h2 { 
        text-align: center; 
    }
    #header{
        width: 100%;
        height: 100px;    
        background-color: #ec882b;  
        margin:0 auto;
        float:center;
    }
    #navigacia{
        display: flex;
        flex-direction: column;
        max-width:960px; 
        background-color: #f59d4b; 
        margin: 20px auto; 
        padding:10px; 
        align-items: center;
        text-align: center;
    }
    .virav{
        width:980px;
        margin:0 auto;
    }
   
    #img{ 
         
     float:left;
     margin:10px; 
     width:100px;     
     height:80px;
        
        /*width:100px;
         padding-top:10px;
         margin:0 auto;
         height:80px;
         float:left;
        */
    }

    
    .textt{
        padding:10px; 
        color: #410e4e;  
        font-style: italic;  
        font-size:30px;  
    }
    .content{
        display: flex;
        flex-direction: column;
        flex: auto;
        max-width:960px; 
        margin: 10px auto; 
        margin-top:20px; 
        padding:10px;
    }
    #forma{
        margin: auto;
    }
    #hyperlinks {
        order: 1;
    }
    #forma {
        order: 2;
    }
    #tablica {
        order: 3;
        margin:20px; 
    }
    footer {
        order: 4;
    }
    
   
    table tr:nth-child(2n) td{ 
        background: #eeeb55; 
    }
    table tr:nth-child(2n+1) td{ 
        background:#b45312;
     }
     #tablica{
        margin: 0 auto; 
     }
     .t{
        float:left;
        padding:10px; 
        color: #3d0d49;  
        font-style: italic;  
        font-size:30px;  
    }
     
    footer{
        width: 100%;
        height: 40px;    
        background-color: #ec882b;  
        margin:0 auto;
        text-align: center;
        color: #381919;  
        font-size:15px;  
    }
    @media screen and (min-width: 800px) and (orientation: landscape) {
        #navigacia{
            flex-direction: row;
            justify-content: center;
        }
        #hyperlinks {
            order: 1;
        }
        #tablica {
            order: 2;
            margin:20px; 
        }
        #forma {
            order: 3;
            margin:20px;
        }
        footer {
            order: 4;
        }
    
      }
      